<h1>New Project</h1>

<% unless @project.errors.empty? %>
  <% @project.errors.each do |e| %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= e.full_message %>
    </div>
  <% end %>
<% end %>

<%= form_with model: @project do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
    <%= f.label :title %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :summary, class: "form-control", placeholder: 'Summary' %>
    <%= f.label :summary %>
  </div>

  <%= f.submit class: 'btn btn-outline-success btn-small' %>
<% end %>
